<mat-card>
    <mat-card-title>Novo Tipo de Fornecedor</mat-card-title>
    <form [formGroup]="tipoFornecedorForm" autocomplete="off" (ngSubmit)="createTipoFornecedor(tipoFornecedorForm.value)"> 
        <div class="container"> 
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Descrição *</mat-label>
                <input matInput formControlName="descricao" id="descricao" placeholder="Descrição *">
                <mat-error *ngIf="hasError('descricao', 'required')">Por favor, informe a descrição!</mat-error>
                <mat-error *ngIf="hasError('descricao', 'empty')">Por favor, informe a descrição!</mat-error>
            </mat-form-field>   
        </div>   
        <div class="container"> 
            <button mat-raised-button type="submit" [disabled]="!tipoFornecedorForm.valid" class="btn-salvar">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="cancel()">
                Cancelar
            </button> 
        </div>
    </form>
</mat-card>